<!--The content below is only a placeholder and can be replaced.-->
<div class="container justify-content-center">
  <div id="page-title">
    <h1>{{ title }}</h1>
  </div>

  <div id="search-component" class="container col-md-6">
    <form class="form-inline justify-content-center" role="form">
      <div class="form-group mx-md-3">
        <input [(ngModel)]="query" type="text" class="form-control" name="query">
      </div>
      <button type="submit" class="btn btn-success" (click)="callApi()">Search</button>
    </form>

    <div id="warning-alert" class="alert alert-warning" role="alert" *ngIf="status == 'emptyQuery'">
      <strong>Warning!</strong> Your query is empty, please provide a valid one.
    </div>

    <div id="error-alert" class="alert alert-danger" role="alert" *ngIf="status == 'error'">
      An error occurred during your search, please try again.
    </div>

    <div id="no-results-alert" class="alert alert-info" role="alert" *ngIf="status == 'success' && resultCount == 0 ">
      No results found.
    </div>

    <div id="results-count-alert" class="alert alert-success" role="alert"
         *ngIf="status == 'success' && resultCount > 0 ">
      {{resultCount}} results found.
    </div>

  </div>

  <div id="results-component" class="container justify-content-center">
      <mat-grid-list cols="2">
        <mat-grid-tile *ngFor="let document of documents">
          <div id="card" class="container">
            <mat-card>
              <mat-card-header id="card-header">
                <div id="card-title" class="container justify-content-center">
                  <mat-card-title class="alert alert-light">
                    <span>{{document.fileName}}</span>
                  </mat-card-title>
                </div>
              </mat-card-header>
              <mat-card-content id="card-content">
                {{document.content | slice:0:1400}}
                <span *ngIf="document.content.length >1400"><strong> <br>&hellip; </strong></span>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
</div>
